<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>婚姻分析</title>
    <link rel="stylesheet" href="/css/orderForm.css"></head>
<body>
<section>
    <form id="regForm" method="post">
        <!--Step indicator-->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
        <!--婚姻表-->
        <div class="orderTab">
            <br><label>婚姻预测</label><br>
            <p>是否男女双方同问: <br>
                <label for="couple">双方同问</label><input type="radio" id="couple" value="false" name="single" onclick="setSingle(false)" required>
                <label for="single">仅自己</label><input type="radio" id="single" value="true" name="single" onclick="setSingle(true)">
            </p>
            <P>你的实际性别:<br>
                <label for="man">男</label><input type="radio" name="gender" id="man" value="true" onclick="setGender(1)">
                <label for="woman">女</label><input type="radio" name="gender" id="woman" value="false" onclick="setGender(2)">
            </P>
            <p>男方出生日期(实际的)<input type="date" name="DOB_M"  required></p>
            <p>女方出生日期(实际的)<input type="date" name="DOB_W"  required></p>
            <p>请选一个数字:</p>
            <p>
                <input type="radio" id="1" name="yao" value="1" required>
                <label for="1">1</label>
                <input type="radio" id="2" name="yao" value="2">
                <label for="2">2</label>
                <input type="radio" id="3" name="yao" value="3">
                <label for="3">3</label>
                <input type="radio" id="4" name="yao" value="4">
                <label for="4">4</label>
                <input type="radio" id="5" name="yao" value="5">
                <label for="5">5</label>
                <input type="radio" id="6" name="yao" value="6">
                <label for="6">6</label>
            </p>
            <br>
            <p>问题描述:</p>
            <p>
                <input type="text" name="question" placeholder="我未来婚姻状况怎么样? ; 我和目前的对象命局是否匹配? ;  我们准备要结婚了, 在什么时间下婚书, 结婚合适?">
            </p>
        </div>
        <!--联系方式-->
        <div class="orderTab">
            <label>联系方式(选择其一即可)</label><br>
            <p><input placeholder="邮箱：1234@example.com" type="email" name="email"></p>
            <p><input placeholder="移动电话：" type="text" name="mobile"></p>
        </div>
        <!--前后步导航栏-->
        <div style="overflow:auto;">
            <div style="float:right; display: flex;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
    </form>
</section>
<script>
    //gender will affect man and woman DOB inputs
    let single = false, gender = 0;
    function setSingle(value) {
        single = value;
        if(gender != 0) setGender(0);
    }
    function setGender(value){
        if(value != 0) gender = value;
        let man = document.getElementsByName("DOB_M")[0];
        man.disabled = false;

        let woman = document.getElementsByName("DOB_W")[0];
        woman.disabled = false;
        if (single == 1)
            if(gender == 1){
                //男性
                woman.disabled = true;
                woman.value = woman.defaultValue;
            }else{
                man.disabled = true;
                man.value = man.defaultValue;
            }
    }
</script>
<!--Below is outside script, be careful of the order-->
<script type="text/javascript" src = "/js/order.js"></script>
</body>
</html>