<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>学业分析</title>
    <link rel="stylesheet" href="/css/orderForm.css">
</head>
<body>
<section>
    <form id="regForm" method="post">
        <!--Step indicator-->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
        <!--学业表-->
        <div class="orderTab">
            <br><label>学业预测</label><br>
            <p>出生日期(实际的)<input type="date" id="datetime-local" name="DOB" required></p>
            <P>你/他(她)的实际性别:<br>
                <label for="man">男</label><input type="radio" name="gender" id="man" value=1 required>
                <label for="woman">女</label><input type="radio" name="gender" id="woman" value=0>
            </P>
            <p>目前您的地理位置(实际的)</p><input type="text" name="position" required></p>
            <p>请选一个数字:</p>
            <p>
                <input type="radio" id="1" name="yao" value="1" required>
                <label for="1">1</label>
                <input type="radio" id="2" name="yao" value="2">
                <label for="2">2</label>
                <input type="radio" id="3" name="yao" value="3">
                <label for="3">3</label>
                <input type="radio" id="4" name="yao" value="4">
                <label for="4">4</label>
                <input type="radio" id="5" name="yao" value="5">
                <label for="5">5</label>
                <input type="radio" id="6" name="yao" value="6">
                <label for="6">6</label>
            </p>
            <p>
                <input type="text" name="question" placeholder="我未来学历更进一步. 我适不适合去xxx学校, 它位于我家的东/北xxx方位上.">
            </p>
        </div>
        <!--联系方式-->
        <div class="orderTab">
            <label>联系方式(选择其一即可)</label><br>
            <p><input placeholder="邮箱：1234@example.com" type="email" name="email"></p>
            <p><input placeholder="移动电话：" type="text" name="mobile"></p>
        </div>
        <!--前后步导航栏-->
        <div style="overflow:auto;">
            <div style="float:right; display: flex;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
    </form>
</section>
<script>
</script>
<!--Below is outside script, be careful of the order-->
<script type="text/javascript" src = "/js/order.js"></script>
</body>
</html>
