<body>
    <!--事业表-->
    <div class="orderTab">
    <br><label>事业/工作预测</label><br>
    <p>出生日期(实际的)<input type="date" id="datepicker" name="DOB" required></p>
    <P>你/他(她)的实际性别:<br>
        <label for="man">男</label><input type="radio" name="gender" id="man" value="true" required>
        <labsel for="man">女</labsel><input type="radio" name="gender" id="woman" value="false">
    </P>
    <p>目前您的地理位置(实际的)</p><input type="text" name="position" required></p>
    <p>请选一个数字:</p>
    <p>
        <input type="radio" id="1" name="yao" value="1" required>
        <label for="1">1</label>
        <input type="radio" id="2" name="yao" value="2">
        <label for="2">2</label>
        <input type="radio" id="3" name="yao" value="3">
        <label for="3">3</label>
        <input type="radio" id="4" name="yao" value="4">
        <label for="4">4</label>
        <input type="radio" id="5" name="yao" value="5">
        <label for="5">5</label>
        <input type="radio" id="6" name="yao" value="6">
        <label for="6">6</label>
    </p>
    <br>
    <p>问题描述:</p>
    <p>
        <input type="text" name="question" placeholder="我未来的财运 / 官运怎么样? 搞xxx生意能否顺利办成并得到收益?">
    </p>
</div>
</body>
